<div>
	<h3><b>Lista pracowników</b></h3>

	<table >
		<thead>
				<tr>
				<th>Id</th>
				<th>Imię</th>
				<th>Nazwisko</th>
				<th>Detale</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in list">
					<td >{{ employee.id }}</td>
					<td>
						<field entity-name="employee" entity="employee" field-name="firstName"/>
					</td>
					<td>
						<field entity-name="employee" entity="employee" field-name="surname"/>
					</td>
					<td>
					<a href="#!/employee-details/{{employee.id}}" class="btn btn-info btn-xs">Detale</a>
					</td>
				</tr>
			</tbody>
		</table>
</div>