<div>
	<h3><b>Lista pracowników</b></h3>

		<form class="create-form" name="myForm" ng-submit="createByForm()">
		<input class="form-control" placeholder="Imię" ng-model="form.firstName" required>
		<input class="form-control" placeholder="Nazwisko" ng-model="form.surname" required>
	<button class="btn btn-success" type="submit">Utwórz</button>
	</form>
	

	<table >
		<thead>
				<tr>
				<th>Id</th>
				<th>Imię</th>
				<th>Nazwisko</th>
				<th>Detale</th>
				<th>Usuń</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in list">
					<td >{{ employee.id }}</td>
					<td>
						<field entity-name="employee" entity="employee" field-name="firstName"/>
					</td>
					<td>
						<field entity-name="employee" entity="employee" field-name="surname"/>
					</td>
					<td>
    					<details-button url="employee" id="employee.id"/>
					</td>
					<td>
            			<delete-btn item-id="employee.id" entity-url="employee"/>
            		</td>
				</tr>
			</tbody>
		</table>
</div>