th { background-color: #e0e0e0;
 	text-align: center;
 	padding-left: 2mm;
   	padding-right: 2mm;
 }
 
 td {text-align:center;
 	padding-left: 2mm;
   	padding-right: 2mm;
 }
 
 table, th, td {
    border: 1px solid black;
    margin-right: 10mm;
    max-width: 180px;
    overflow-wrap: break-word;
}

.create-button {
	margin-bottom: 8px;
}

.catalog-number {
	width: 220px; 
	display: inline-block; 
	margin-right: 8px;
}