<style>
  .customer-details th {
    background-color: #e0e0e0;
  }
  
    .customer-details td {
    padding-right: 3mm;
  }
  
</style>

<div class="customer-details">

	<h3><strong>Detale klienta</strong></h3>
  <table border="1" cellpadding="6" cellspacing="0">
    <tr>
      <th style="width: 23mm;">Id</th>
      <td>{{$ctrl.customer.id}}</td>
    </tr>
    <tr>
      <th>Imię</th>
      <td>{{$ctrl.customer.firstName}}</td>
    </tr>
    <tr>
      <th>Nazwisko</th>
      <td>{{$ctrl.customer.surname}}</td>
    </tr>
    <tr>
      <th>Adres</th>
      <td>{{$ctrl.book.address}}</td>
    </tr>
  </table>
