<div>

	<h3><strong>Detale klienta</strong></h3>
  <table>
    <tr>
      <th>Id</th>
      <td>{{item.id}}</td>
    </tr>
    <tr>
      <th>Imię</th>
      <td>{{item.firstName}}</td>
    </tr>
    <tr>
      <th>Nazwisko</th>
      <td>{{item.surname}}</td>
    </tr>
    <tr>
      <th>Adres</th>
      <td>
      	<div class="row">{{item.address.country}}</div>
      	<div class="row">{{item.address.city}}</div>
      	<div class="row">{{item.address.street}}</div>
      	<div class="row">{{item.address.numberOfHouseOrApartment}}</div>
      	<div class="row">{{item.address.zipCode}}</div>
      </td>
      
    </tr>
  </table>
  
  <h3><strong>Zamówienia klienta</strong></h3>
	 <order-table list="item.orders">
</div>
