<div>

	<h3><strong>Detale klienta</strong></h3>
  <table>
    <tr>
      <th>Id</th>
      <td>{{item.id}}</td>
    </tr>
    <tr>
      <th>Imię</th>
      <td>
		<field entity-name="customer" entity="item" field-name="firstName"/>
	  </td>
    </tr>
    <tr>
      <th>Nazwisko</th>
      <td>
		<field entity-name="customer" entity="item" field-name="surname"/>
	  </td>
    </tr>
    
   <tr>
  <th>Adres</th>
  <td>
    <div class="row">
      <field entity-name="address" entity="item.address"field-name="country"></field>
    </div>

    <div class="row">
      <field entity-name="address" entity="item.address" field-name="city"></field>
    </div>

    <div class="row">
      <field entity-name="address" entity="item.address" field-name="street"></field>
    </div>

    <div class="row">
      <field entity-name="address" entity="item.address" field-name="numberOfHouseOrApartment"></field>
    </div>

    <div class="row">
      <field entity-name="address" entity="item.address" field-name="zipCode"></field>
    </div>
  </td>
</tr>
  </table>
  
  <h3><strong>Zamówienia klienta</strong></h3>
	 <order-table list="item.orders">
</div>
