<div>

	<h3><strong>Detale książki</strong></h3>
  <table>
    <tr>
      <th>Id</th>
      <td>{{item.id}}</td>
    </tr>
    <tr>
      <th>Tytuł</th>
      <td>{{item.title}}</td>
    </tr>
    <tr>
      <th>Autor</th>
      <td>{{item.author}}</td>
    </tr>
    <tr>
      <th>Rok publikacji</th>
      <td>{{item.yearOfPublication}}</td>
    </tr>
    <tr>
      <th>ISBN</th>
      <td>{{item.isbn}}</td>
    </tr>
  </table>


<div>
<h3><strong>Lista egzemplarzy</strong></h3>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Numer katalogowy</th>
			<th>Opis</th>
			<th>Detale egzemplarza</th>
		</tr>
	</thead>
	<tbody>
		<tr ng:repeat="item in item.physicalBooks">
			<td>{{item.id}}</td>
			<td>{{item.catalogNumber}}</td>
			<td>{{item.description}}</td>
			<td>
          <a href="#!/physical-book-details/{{item.id}}" class="btn btn-info btn-xs">
            Detale
          </a>
          </td>
		</tr>
	</tbody>
</table>
</div>

</div>