<div> 
	<h3><b>Lista egzemplarzy książek</b></h3>
	
	<table>
	
	<thead>
		<tr>
			<th>Id</th>
			<th>Numer katalogowy</th>
			<th>Opis</th>
			<th>Detale egzemplarzy</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="book in list">
			<td>{{ book.id }}</td>
			<td>{{ book.catalogNumber }}</td>
			<td>{{ book.description }}</td>
			<td>
          <a href="#!/physical-book-details/{{book.id}}" class="btn btn-info btn-xs">
            Detale
          </a>
          </td>
		</tr>
	</tbody>

</div>
