<div> 
	<h3><b>Lista egzemplarzy książek</b></h3>
	
	<table>
	
	<thead>
		<tr>
			<th>Id</th>
			<th>Numer katalogowy</th>
			<th>Tytuł</th>
			<th>Autor</th>
			<th>Opis</th>
			<th>Detale egzemplarzy</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in list">
			<td>{{ item.id }}</td>
			<td>{{ item.catalogNumber }}</td>
			<td>{{ item.book.title }}</td>
			<td>{{ item.book.author }}</td>
			<td>{{ item.description }}</td>
			<td>
          <a href="#!/physical-book-details/{{item.id}}" class="btn btn-info btn-xs">
            Detale
          </a>
          </td>
		</tr>
	</tbody>

</div>
