<div>

	<h3><strong>Detale zamówienia</strong></h3>
  <table>
    <tr>
      <th>Id</th>
      <td>{{item.id}}</td>
    </tr>
    <tr>
      <th>Data wypożyczenia</th>
     <td>
		<field entity-name="order" entity="item" field-name="loanDate"/>
	 </td>
    </tr>
    <tr>
      <th>Termin zwrotu</th>
     <td>
		<field entity-name="order" entity="item" field-name="deadline" editable="false"/>
	 </td>
    </tr>
    <tr>
      <th>Maksymalny termin zwrotu</th>
      <td>
		<field entity-name="order" entity="item" field-name="maximumDeadline" editable="false"/>
	 </td>
    </tr>
    <tr>
      <th>Data zwrotu</th>
      <td>
		<field entity-name="order" entity="item" field-name="returnDate"/>
	 </td>
    </tr>
    <tr>
      <th>Anulowane</th>
      <td>
		<field entity-name="order" entity="item" field-name="cancelled"/>
	 </td>
    </tr>
     <tr>
      <th>Przygotowane</th>
     <td>
		<field entity-name="order" entity="item" field-name="prepared"/>
	 </td>
    </tr>
    <tr>
      <th>Zniszczone</th>
      <td>
		<field entity-name="order" entity="item" field-name="damaged"/>
	 </td>
    </tr>
    <tr>
     <th> Płatność
      <br>
  	  <small>(jeśli wymagane)</small>
	  </th>
      <td>
		<field entity-name="order" entity="item" field-name="paid"/>
	 </td>
    </tr>
    <tr>
      <th>Kwota do zapłaty</th>
      <td>
		<field entity-name="order" entity="item" field-name="amountToPay" editable="false"/>
	 </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
		<field entity-name="order" entity="item" field-name="status" editable="false"/>
	 </td>
    </tr>
  </table>
  
  <div>
		<h3><b>Dane klienta</b></h3>

		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Pesel</th>
					<th>Detale</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td >{{ item.customer.id }}</td>
					<td>
						<field entity-name="customer" entity="item.customer" field-name="firstName"/>
	 				</td>
					<td>
						<field entity-name="customer" entity="item.customer" field-name="surname"/>
	 				</td>
					<td>
						<field entity-name="customer" entity="item.customer" field-name="pesel"/>
	 				</td>
					<td>
					<a href="#!/customer-details/{{item.customer.id}}" class="btn btn-info btn-xs">Detale</a>
					</td>
				</tr>
			</tbody>
		</table>
</div>
  
  <h3><b>Dane pracownika</b></h3>

		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Detale</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td >{{ item.employee.id }}</td>
					<td>
						<field entity-name="employee" entity="item.employee" field-name="firstName"/>
	 				</td>
					<td>
						<field entity-name="employee" entity="item.employee" field-name="surname"/>
					</td>
					<td>
					<a href="#!/employee-details/{{item.employee.id}}" class="btn btn-info btn-xs">Detale</a>
					</td>
				</tr>
			</tbody>
		</table>
</div>
  
  <div>
<physical-book-table list="item.physicalBooks" /> 
</div>
