<div>

	<h3><strong>Detale zamówienia</strong></h3>
  <table>
    <tr>
      <th>Id</th>
      <td>{{item.id}}</td>
    </tr>
    <tr>
      <th>Data wypożyczenia</th>
      <td>{{item.loanDate}}</td>
    </tr>
    <tr>
      <th>Termin zwrotu</th>
      <td>{{item.deadline}}</td>
    </tr>
    <tr>
      <th>Maksymalny termin zwrotu</th>
      <td>{{item.maximumDeadline}}</td>
    </tr>
    <tr>
      <th>Data zwrotu</th>
      <td>{{item.returnDate}}</td>
    </tr>
    <tr>
      <th>Anulowane</th>
      <td>{{item.cancelled}}</td>
    </tr>
     <tr>
      <th>Przygotowane</th>
      <td>{{item.prepared}}</td>
    </tr>
    <tr>
      <th>Zniszczone</th>
      <td>{{item.damaged}}</td>
    </tr>
    <tr>
      <th>Płatność</th>
      <td>{{item.paid}}</td>
    </tr>
    <tr>
      <th>Kwota do zapłaty</th>
      <td>{{item.amountToPay}}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{item.status}}</td>
    </tr>
    <tr>
      <th>Id klienta</th>
      <td>{{item.customer}}</td>
    </tr>
    <tr>
      <th>Id pracownika</th>
      <td>{{item.employee}}</td>
    </tr>
    
  </table>
</div>
