<div>
<h3><b>Detale egzemplarza</b></h3>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Numer katalogowy</th>
			<th>Tytuł</th>
			<th>Autor</th>
			<th>Opis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{item.id}}</td>
			<td>
				<field entity-name="physicalBook" entity="item" field-name="catalogNumber"/>
	  		</td>
			<td>
				<field entity-name="book" entity="item.book" field-name="title"/>
	  		</td>
			<td>
				<field entity-name="book" entity="item.book" field-name="author"/>
	 		</td>
			<td>
				<field entity-name="physicalBook" entity="item" field-name="description"/>
	  		</td>
		</tr>
	</tbody>
</table>
</div>

<br>
<br>

<div>
	 <h3><strong>Zamówienia egzemplarzy</strong></h3>
	 <order-table list="item.orders">
</div>

