<div> 
	<h3><b>Lista książek</b></h3>
	<!--  <button class="btn btn-success" ng-click="$ctrl.load()">Pobierz</button> -->
	
	
	<table>
	
	<thead>
		<tr>
			<th>Id</th>
			<th>Tytuł</th>
			<th>Autor</th>
			<th>Rok publikacji</th>
			<th>ISBN</th>
			<th>Detale</th>
			</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="book in list">
			<td>{{ book.id }}</td>
		<td>
			<field entity-name="book" entity="book" field-name="title"/>
		</td>
		<td>
			<field entity-name="book" entity="book" field-name="author"/>
		</td>
		<td>
			<field entity-name="book" entity="book" field-name="yearOfPublication"/>
		</td>
		<td>
			<field entity-name="book" entity="book" field-name="isbn"/>
		</td>	
			<td>
          <a href="#!/book-details/{{book.id}}" class="btn btn-info btn-xs">
            Detale
          </a>
          </td>
		</tr>
	</tbody>
	</table>

</div>
