<div> 
	<h3><b>Lista książek</b></h3>
	
	<form class="create-form" name="myForm" ng-submit="createByForm()">
		<input class="form-control" placeholder="Tytuł" ng-model="form.title" required>
		<input class="form-control" placeholder="Autor" ng-model="form.author" required>
		<input class="form-control" type="number" placeholder="Rok publikacji" ng-model="form.yearOfPublication" required>
		<input class="form-control" placeholder="ISBN" ng-model="form.isbn" required>
	<button class="btn btn-success" type="submit">Utwórz</button>
	</form>
	
	
	<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Tytuł</th>
			<th>Autor</th>
			<th>Rok publikacji</th>
			<th>ISBN</th>
			<th>Detale</th>
			<th>Usuń</th>
			</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="book in list">
			<td>{{ book.id }}</td>
		<td>
			<field entity-name="book" entity="book" field-name="title"/>
		</td>
		<td>
			<field entity-name="book" entity="book" field-name="author"/>
		</td>
		<td>
			<field entity-name="book" entity="book" field-name="yearOfPublication"/>
		</td>
		<td>
			<field entity-name="book" entity="book" field-name="isbn"/>
		</td>	
		<td>
    			<details-button url="book" id="book.id"/>
		</td>
		<td>
            <delete-btn item-id="book.id" entity-url="book"/>
         </td>
		</tr>
	</tbody>
	</table>

</div>
