<div>
<table >
  <thead>
    <tr>
      <th sort-header="id">Id</th>
      <th sort-header="loanDate">Data wypożyczenia</th>
      <th sort-header="deadline">Termin zwrotu</th>
      <th sort-header="maximumDeadline">Maksymalny termin zwrotu</th>
      <th sort-header="returnDate">Data zwrotu</th>
      <th sort-header="cancelled">Anulowane</th>
      <th sort-header="prepared">Przygotowane</th>
      <th sort-header="damaged">Zniszczone</th>
      <th sort-header="paid">
        Płatność<br>
        <small>(jeśli wymagane)</small>
      </th>
      <th sort-header="amountToPay">Kwota</th>
      <th sort-header="status">Status</th>
      <th sort-header="customer">Klient</th>
      <th sort-header="employee">Pracownik</th>
      <th>Detale</th>
      <th>Usuń</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="order in $ctrl.list">
      <td>{{ order.id }}</td>
     	<td><field entity-name="order" entity="order" field-name="loanDate"/></td>
     	<td><field entity-name="order" entity="order" field-name="deadline" editable="false"/></td>
		<td><field entity-name="order" entity="order" field-name="maximumDeadline" editable="false"/></td>
     	<td><field entity-name="order" entity="order" field-name="returnDate"/></td>
      	<td><field entity-name="order" entity="order" field-name="cancelled"/></td>
      	<td><field entity-name="order" entity="order" field-name="prepared"/></td>
    	<td><field entity-name="order" entity="order" field-name="damaged" /></td>
      	<td><field entity-name="order" entity="order" field-name="paid"/></td>
      	<td><field entity-name="order" entity="order" field-name="amountToPay" editable="false"/></td>
      	<td><field entity-name="order" entity="order" field-name="status" editable="false"/></td>
	   	<td><field entity-name="order" entity="order" field-name="customer"/></td>
		<td><field entity-name="order" entity="order" field-name="employee"/></td>
      	<td><details-button url="order" id="order.id"/></td>
	  <td><delete-btn item-id="order.id" entity-url="order"/></td>
    </tr>

    <tr ng-if="!$ctrl.list || !$ctrl.list.length">
      <td colspan=12>Brak zamówień</td>
    </tr>
  </tbody>
</table>
</div>