<common-modal entity-label="klienta" mode="$ctrl.resolve.mode" on-close="$ctrl.close()">

<form-slot>
	<form id="myForm" ng-submit="$ctrl.resolve.callback(form)">
		<input class="form-control" placeholder="Imię" ng-model="form.firstName" required>
		<input class="form-control" placeholder="Nazwisko" ng-model="form.surname" required>
		<input class="form-control" placeholder="Pesel" ng-model="form.pesel" required>
	</form>
</form-slot>
    
<select-slot>
  <common-select-modal entity-url="customer" entity-label="klienta" resolve="$ctrl.resolve"/>
</select-slot>

</common-modal>