<!DOCTYPE html>
<html ng-app="app">
<head>
	<link rel="stylesheet" href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/webjars/angularjs/1.8.2/angular.min.js"></script>
    <script src="/project.js"></script>
</head>
<body>
		<p> <strong>Zadanie 1</strong></p>
	<div ng-controller="HelloController">
	    <p> {{ message }}</p>
	    <hr>
	    
	    <p> <strong>Zadanie 2</strong></p>
	    <p> Czesc, {{username}}!</p>
	    <input ng-model="username" placeholder="Wpisz nazwe uzytkownika">
	    <hr>
	    
	   <p><strong> Zadanie 3</strong></p>
	    <input type="checkbox" ng-model="showPanel"> <label>Pokaz panel</label>
	    
	    <div ng-if="showPanel"> Panel ng-if</div>
	    <div ng-show="showPanel"> Panel ng-show</div>
	    <hr>
	    
	    <p> <strong>Zadanie 4</strong></p>
	    <button class="btn" ng-class="Active ? 'btn-primary' : 'btn-warning'">Przycisk</button>
	    <hr>
	    
	   <p> <strong>Zadanie 5</strong></p>
	    <p>
	    <input type="text" ng-disabled="isBlocked" placeholder="Pole tekstowe">
	    	
	    		<input type="checkbox" ng-model="isBlocked"><label> Zablokuj</label>
	    </p>
	    <hr>
	    
	    <p><strong> Zadanie 6</strong></p>
	    <p> Licznik: {{ counter }}</p>
	    <button class="btn btn-primary" ng-click="incrementCounter()">Zwieksz licznik</button>
	    <hr>
	    
	    <p><strong>Zadanie 7</strong></p>
	    <p> isActive: {{ isActive }} </p>
	    <button class="btn btn-success" ng-click="activate()" ng-disabled="isActive">Aktywuj</button>
	    <button class="btn btn-danger" ng-click="deactivate()" ng-disabled="!isActive">Dezaktywuj</button>
	    <hr>
	    <div ng-if="isActive" class="alert" ng-class="activationCount >= 3 ? 'alert-success' : 'alert-warning'">Panel jest aktywny!</div>
	    <div ng-if="!isActive" class="alert" ng-class="deactivationCount >= 3 ? 'alert-danger' : 'alert-warning'">Panel jest nieaktywny!</div>
		<p>Panel aktywowany: {{ activationCount }}</p>
	    <p>Panel dezaktywowany: {{ deactivationCount }}</p>
	    <hr>
	    
	    <p><strong>Zadanie 8</strong></p>
	    <p> <strong>Imie:</strong> {{ person.name }}</p>
	  	<p> <strong>Wiek:</strong> {{ person.age }}</p>
	    <p> <strong>Miasto:</strong> {{ person.city }}</p>
	    <hr>
	    
	    <p><strong>Zadanie 9</strong></p>
	    <div ng-repeat="person in people track by $index" class="well" style="width: fit-content">
	    <p> <strong>Imie:</strong> {{ person.name }}</p>
	  	<p> <strong>Wiek:</strong> {{ person.age }}</p>
	    <p> <strong>Miasto:</strong> {{ person.city }}</p>
	    
	    <button class="btn btn-danger"  ng-click="remove($index)">Usun</button>
	    </div>
	    <hr>
	    
	   
	    <p><strong>Zadanie 10</strong></p>
	     
	    <div hello-box username="Miki"></div> /*atrybut*/
	    
	    <!-- <hello-box username="Miki" /> --> /*element*/
	    <hr />
	    
	    
	    <p><strong>Zadanie 11</strong></p>
	    <div><hello-box-new user="person" /></div>
	    <hr>
	    
	    
	    <p><strong>Zadanie 12</strong></p>
	    <div ng-repeat="person in people track by $index" class="well" style="width: fit-content">
	    <p> <strong>Imie:</strong> {{ person.name }}</p>
	  	<p> <strong>Wiek:</strong> {{ person.age }}</p>
	    <p> <strong>Miasto:</strong> {{ person.city }}</p>
	    <delete-button on-delete="remove($index)"/>
	    </div>
	    
	     
	    
	</div>
</body>
</html>
