<div>
		<h3><b>Lista klientów</b></h3>

		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Pesel</th>
					<th>Detale</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customer in list">
					<td >{{ customer.id }}</td>
					<td>
						<field entity-name="customer" entity="customer" field-name="firstName"/>
					</td>
					<td>
						<field entity-name="customer" entity="customer" field-name="surname"/>
					</td>
					<td>
						<field entity-name="customer" entity="customer" field-name="pesel"/>
					</td>
					<td>
					<a href="#!/customer-details/{{customer.id}}" class="btn btn-info btn-xs">Detale</a>
					</td>
				</tr>
			</tbody>
		</table>
</div>