<div>
		<h3><b>Lista klientów</b></h3>
		
	<create-button on-create="create()" label="klienta"/>
	
	<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Pesel</th>
					<th>Detale</th>
					<th>Usuń</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customer in list">
					<td >{{ customer.id }}</td>
					<td>
						<field entity-name="customer" entity="customer" field-name="firstName"/>
					</td>
					<td>
						<field entity-name="customer" entity="customer" field-name="surname"/>
					</td>
					<td>
						<field entity-name="customer" entity="customer" field-name="pesel"/>
					</td>
					<td>
    					<details-button url="customer" id="customer.id"/>
					</td>
					<td>
            			<delete-btn item-id="customer.id" on-delete="delete(id)"/>
            		</td>
				</tr>
			</tbody>
		</table>
</div>