<div> 
	<h3><b>Lista adresów</b></h3>
	
	<form class="create-form" name="myForm" ng-submit="createAddress()">
		<input class="form-control" placeholder="Kraj" ng-model="form.country" required>
		<input class="form-control" placeholder="Miasto" ng-model="form.city" required>
		<input class="form-control" placeholder="Ulica" ng-model="form.street" required>
		<input class="form-control" placeholder="Number domu lub mieszkania" ng-model="form.numberOfHouseOrApartment" required>
		<input class="form-control" placeholder="Kod pocztowy" ng-model="form.zipCode" required>
	<button class="btn btn-success" type="submit">Utwórz</button>
	</form>
	
	<table>
	
	<thead>
		<tr>
			<th>Id</th>
			<th>Kraj</th>
			<th>Miasto</th>
			<th>Ulica</th>
			<th>Numer domu lub mieszkania</th>
			<th>Kod pocztowy</th>
			<th>Detale</th>
			<th>Usuń</th>
			</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="address in list">
			<td>{{ address.id }}</td>
		<td>
			<field entity-name="address" entity="address" field-name="country"/>
		</td>
		<td>
			<field entity-name="address" entity="address" field-name="city"/>
		</td>
		<td>
			<field entity-name="address" entity="address" field-name="street"/>
		</td>
		<td>
			<field entity-name="address" entity="address" field-name="numberOfHouseOrApartment"/>
		</td>	
		<td>
			<field entity-name="address" entity="address" field-name="zipCode"/>
		</td>	
		<td>
    		<details-button url="address" id="address.id"/>
		</td> 
		<td>
            <delete-btn item-id="address.id" entity-url="address"/>
         </td> 
		</tr>
	</tbody>
	</table>   

</div>