<div> 
	<h3><b>Lista adresów</b></h3>
	
	<button class="btn btn-primary create-button" ng-click="createByModal()">Dodaj</button>
	
	<table>
	
	<thead>
		<tr>
			<th sort-header="id">Id</th>
			<th sort-header="country">Kraj</th>
			<th sort-header="city">Miasto</th>
			<th sort-header="street">Ulica</th>
			<th sort-header="numberOfHouseOrApartment">Numer domu lub mieszkania</th>
			<th sort-header="zipCode">Kod pocztowy</th>
			<th>Detale</th>
			<th>Usuń</th>
			</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="address in list">
			<td>{{ address.id }}</td>
		<td><field entity-name="address" entity="address" field-name="country"/></td>
		<td><field entity-name="address" entity="address" field-name="city"/></td>
		<td><field entity-name="address" entity="address" field-name="street"/></td>
		<td><field entity-name="address" entity="address" field-name="numberOfHouseOrApartment"/></td>	
		<td><field entity-name="address" entity="address" field-name="zipCode"/></td>	
		<td><details-button url="address" id="address.id"/></td> 
		<td><delete-btn item-id="address.id" entity-url="address"/></td> 
		</tr>
	</tbody>
	</table>   
	
<paginator 
	page="page" size="size" sort="sort" total-pages="totalPages" total-elements="totalElements" on-change="onPageChange(page, size, sort)">
</paginator>

</div>