<div class="modal-header">
	<h3 class="modal-title">
		<span ng-if="$ctrl.mode === 'C'">Dodaj {{$ctrl.entityLabel}}</span>
		<span ng-if="$ctrl.mode === 'S'">Wybierz {{$ctrl.entityLabel}}</span>
	</h3>
		<button class="btn btn-success" type="submit" form="myForm" ng-if="$ctrl.mode === 'C'">Utwórz</button>
</div>

<div class="modal-body">
	<div ng-if="$ctrl.mode === 'C'">
		<div ng-transclude="formSlot"></div>
	</div>

	<div ng-if="$ctrl.mode === 'S'">
		<div ng-transclude="selectSlot"></div>
	</div>
</div>
	
<div class="modal-footer">
	<button class="btn btn-secondary" ng-click="$ctrl.onClose()">Anuluj</button>
</div>