<div> 
	<table>
	
	<thead>
		<tr>
			<th sort-header="id">Id</th>
			<th sort-header="catalogNumber">Numer katalogowy</th>
			<th sort-header="book">Książka</th>
			<th sort-header="book.title" ng-if="$ctrl.showTitle">Tytuł</th>
			<th sort-header="book.author" ng-if="$ctrl.showAuthor">Autor</th>
			<th>Opis</th>
			<th>Detale egzemplarzy</th>
			<th>Usuń</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in $ctrl.list">
			<td>{{ item.id }}</td>
			<td>
				<field entity-name="physicalBook" entity="item" field-name="catalogNumber"/>
			</td>
			<td>
				<field entity-name="physicalBook" entity="item" field-name="book"/>
			</td>
			<td ng-if="$ctrl.showTitle">
				<field entity-name="book" entity="item.book" field-name="title"/>
			</td>
			<td ng-if="$ctrl.showAuthor">
				<field entity-name="book" entity="item.book" field-name="author"/>
			</td>
			<td>
				<field entity-name="physicalBook" entity="item" field-name="description"/>
			</td>
         <td>
			<details-button url="physical-book" id="item.id"/>
	  	</td>
	  	<td>
           	<delete-btn item-id="item.id" entity-url="physical-book"/>
        </td>
		</tr>
	</tbody>

</div>
