<div> 
	<h3><b>Lista egzemplarzy książek</b></h3>
	
	<table>
	
	<thead>
		<tr>
			<th>Id</th>
			<th>Numer katalogowy</th>
			<th>Tytuł</th>
			<th>Autor</th>
			<th>Opis</th>
			<th>Detale egzemplarzy</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="item in $ctrl.list">
			<td>{{ item.id }}</td>
			<td>
				<field entity-name="physicalBook" entity="item" field-name="catalogNumber"/>
			</td>
			<td>
				<field entity-name="book" entity="item.book" field-name="title"/>
			</td>
			<td>
				<field entity-name="book" entity="item.book" field-name="author"/>
			</td>
			<td>
				<field entity-name="physicalBook" entity="item" field-name="description"/>
			</td>
         <td>
			<details-button url="physical-book" id="item.id"/>
	  	</td>
		</tr>
	</tbody>

</div>
