<common-modal entity-label="książkę" mode="$ctrl.resolve.mode" on-close="$ctrl.close()">

<form-slot>
	<form id="myForm" ng-submit="$ctrl.resolve.callback(form)">
      <input class="form-control" placeholder="Tytuł" ng-model="form.title" required>
      <input class="form-control" placeholder="Autor" ng-model="form.author" required>
      <input class="form-control" type="number" placeholder="Rok publikacji" ng-model="form.yearOfPublication" required>
      <input class="form-control" placeholder="ISBN" ng-model="form.isbn" required>
    </form>
</form-slot>

<select-slot>
	<common-select-modal entity-url="book" entity-label="książkę" resolve="$ctrl.resolve"/>
</select-slot>
    
</common-modal>