<common-modal entity-label="książkę" on-close="$ctrl.close()">
	<form id="myForm" ng-submit="$ctrl.resolve.callback(form)">
		<input class="form-control" placeholder="Tytuł" ng-model="form.title" required>
		<input class="form-control" placeholder="Autor" ng-model="form.author" required>
		<input class="form-control" type="number" placeholder="Rok publikacji" ng-model="form.yearOfPublication" required>
		<input class="form-control" placeholder="ISBN" ng-model="form.isbn" required>
	</form>
</common-modal>
